<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-lg-block container">
      <span style="font-size: 1.5em;" class="pr-4 text-white">Retrouvez moi sur les reseaux :</span>
      <a style="font-size: 2em;" class="pr-2" href="https://www.linkedin.com/in/camara-daouda-921136152/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a style="font-size: 2em;" href="https://github.com/camara92" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>
 
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            <i class="text-info fas fa-gem me-3"></i>|| PortFolio
          </h6>
          <p class=" text-white">
            Comme vous pouvez voir au plus haut, je suis quand même en recherche d'une entreprise pour un stage ou de préférence apprentissage à compter du 20 juin 2022. Mobile partout en Frane. </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            Quelques projets 
          </h6>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">Angular | Ecommerce </span> </a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">Symfony | Ecommerce</span></a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">JScript | FromScratch</span></a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">YesCode | Symfony </span></a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            Contact
          </h6>

          <img src="{{asset('assets/images/daouda.jpeg')}}"  alt="daoua" width="100px" class="rounded-circle border border-success m-2" height="80px" >
          <p class="text-white"><i class="fas fa-home me-3"></i>Strasbourg || France</p>
          <p>
            <i class="fas fa-envelope me-3"></i><a href="mailto:daoudasouleymanecamara8@gmail.com">daoudasouleymanecamara8@gmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i><a href="tel:+337667438283"> | 0767438283</a></p>
      
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright: <span class=" text-white">CAMARA Daouda</span> 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->