<div class="col-xl-3 col-lx-3 col-md-6 col-sm-12 m-auto w-75 container text-center">
	<div class="card bg-light my-5 shadow container">
		<table class="border border-dark bg-light container">
			<thead>
				<tr class="bg-info">
					<th>Nom de la technologie</th>
					<th>Sujet</th>
					{# <th>Slug</th> #}
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="border  border-dark">
						 <td>{{data.name }}</td>
						  <td>{{data.brochureFilename }}</td>
						  {# <td> {{data.slug}}</td> #}
					</tr>
				
			</tbody>
		</table>
		
	</div>
</div>
